{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Todo Application</title>
        <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
</head>
<body>
    <div class="form-group">
      <h1>To-Do <small>List</small></h1>

<form action="addTodo/" method="post" >{% csrf_token %}

   <label> Task Content:</label><input type="text" name="content">
   
   <input type="submit" value="Add task">
   
</form>

    </div>

    <div></div>

    <ul class="list-unstyled" id="todo">

  
    
   {% for todo_item in all_items %}
   
   <li> 
                {% if todo_item.is_done == True %}
                   
               <div  class="task-done"> {{ todo_item.content }} </div>

                {% else %}
                   	{{ todo_item.content }}   
                   	 <form action="{% url 'Task_done' todo_item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="done">
                            </form>             
                {% endif %}

                <!--update-->    <br>
                <a   href="{% url "update_task" todo_item.id %}"> </a> 
                <!--delete-->            
               <a class="delete" href="{% url "delete_todo" todo_item.id %}"></a> 
              
   

   	

 


   </li>
   
   {% endfor %}

    </ul>

</body>
</html>
